body {
    padding: 0;
    background-color: #f9f9f9;
    margin: 0;
    font-family: '微软雅黑';
}

.main {
    height: 1000px;
    overflow: hidden;
}

.row {
    margin: 0!important;
}

.card {
    /*box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.05);*/
    margin-bottom: 20px;
    transition: 0.4s;
    /*background-color: cadetblue;*/
    /*border: 5px solid blue;*/
}


/*.card:hover{*/


/*box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.05);*/


/*}*/


/*登录登出*/

.sign {
    margin-right: 15px;
    line-height: 50px;
}


/*左侧导航区*/

.nav_left {
    margin-bottom: 10px;
}

/*数据展示区*/

.dataChoose {
    margin-bottom: 20px;
    margin-left: 5px;
}
<<<<<<< HEAD


=======
.dropdown-menu>li>a.aActive{
    background-color:rgb(92,184,92);
    color:#ffffff;
}
.pointer{
    cursor: pointer;
}
>>>>>>> origin/master
/*我的信息*/

.myInfoData {
    padding-left: 20px;
    line-height: 40px;
    border-bottom: 2px solid #e6e6e6;
    overflow: hidden;
}

.editInfo {
    line-height: 40px;
    margin-top: 15px;
    margin-right: 20px;
}

.fa {
    margin-right: 10px;
}


/* 登录 */

.mask {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .75;
    filter: opacity(75);
    z-index: 1000;
}

.login {
    position: fixed;
    border-radius: 10px;
    z-index: 1001;
    background: #fff;
}


/* 地图 */

@media screen and (min-width: 450px) {
    #l-map {
        height: 700px;
        width: 100%;
    }
}

@media screen and (max-width: 449px) {
    #l-map {
        height: 550px;
        width: 100%;
    }
}

.BMap_bubble_title {
    text-align: center;
}

.map-table {
    width: 100%;
    height: 100px;
}

.map-table td {
    text-align: center;
    color: #fff;
    font-size: 20px;
    width: 33%;
}

.map-table td span {
    height: 100%;
    width: 90%;
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    background: #1163b9;
}


/* footer */

.footer {
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 100%;
    color: #fff;
    background: #575757;
}